.container{
    width: 70%;
    margin: 0 auto;
}

.header-title-box{
    display: flex;
    justify-content: space-between;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 10% 0;
}

img{
    width: 100%;
}

.image{
    display: flex;
}

.image> h5{
    writing-mode: vertical-rl;
}

.team-mamber-2, .team-mamber-5{
    padding-top: 100px;
}

@media screen and (max-width:576px) {
    .header-title-box{
        flex-direction: column;
    }
    .team-container{
      grid-template-columns: 1fr 1fr;
    }
    .team-mamber-4, .team-mamber-6{
        padding-top: 100px;
    }
    .team-mamber-5{
        padding-top: 0px;
    }
}